:root {
  --primary-text-color: #212121;
  --nav-contact-color: #757575;
  --title-text-color: #000000;
  --accent-color: #2196f3;
  --title-color: #ffffff;
  --background-accent-color: #2f303a;
  --team-background-color: #f5f4fa;
  --footer-email-tel: rgba(255, 255, 255, 0.6);
  --footer-social-link: rgba(255, 255, 255, 0.1);
  --header-border: #ececec;
  --portfolio-border: #eeeeee;
  --hero-gradient: rgba(47, 48, 58, 0.4);
  --team-social-icon: #afb1b8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --hero-btn: #188ce8;
}