.hero{
  &-title,
  &-button {
    letter-spacing: 0.06em;
    color: var(--title-color);
  }
  &-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
    padding: 0;
  }
  
}
