.title{
  &-size {
    font-size: 36px;
    margin: 0 0 50px 0;
  }
}
.section{
  &-works {
    padding-bottom: 94px;
  }
}
.list{
  &-works {
    display: flex;
    & > li:not(:last-child) {
      margin-right: 30px;
    }
  }
  &-foto {
    display: block;
  }
  &-img-wrapper {
    position: relative;
  }
  &-txt-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--title-color);
  }
  &-title{
    margin: 0;
  }
}